# App
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-a-strong-secret-run-openssl-rand-base64-32

# Supabase
SUPABASE_URL=https://origfjoncpvjsjihauzm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yaWdmam9uY3B2anNqaWhhdXptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEyMTUwOTYsImV4cCI6MjA3Njc5MTA5Nn0.ntrv3HQpchGz4m5qjx31StU_BABIWi1s3hgZa-teREk
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY

# Database (Supabase Postgres)
DATABASE_URL=postgresql://postgres:YOUR_DB_PASSWORD@db.YOUR_HOST.supabase.co:5432/postgres?pgbouncer=true&connection_limit=1&sslmode=require
